.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  padding-left: 2.6rem;
  padding-right: 2.6rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: inherit; /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Apply blur effect */
  box-shadow: none;
  z-index: 1201; /* Ensure it stays on top of other elements */
}

.header li {
  display: inline;
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.navbar a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 1.2rem;
}

.navbar a:hover {
  color: grey;
}
