:root {
  --font-poppins: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
  font-family: var(--font-poppins) !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5; /* Light gray, like old paper */
}


