.container {
  margin-top: 80px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

/* Hero Section */
.info {
  display: flex;
  gap: 1rem;
}

.info div {
  font-size: 16px;
  border-radius: 20px;
  border: 2px solid black;
  padding: 0.5rem;
}

.hero {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100vh;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
}

.title p {
  font-size: 24px;
}

.title h1 {
  font-family: 'Georgia', 'Times New Roman', serif;
  font-size: 5rem; /* Adjust as needed */
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  color: black;
  letter-spacing: 2px;
  line-height: 1.1;
}

.herolinks {
  padding-left: 16rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  padding-bottom: 200px;
}

.herolinks a:hover {
  color: grey;
}

.herolinks a {
  color: inherit;
  font-weight: 500;
}

.herolinks p {
  font-size: 1.4rem;
}

/* About Section */
.about {
  height: 100vh;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.about a {
  color: inherit;
  text-decoration: underline;
  font-weight: 500;
}

.about a:hover {
  color: grey;
}

.aboutDesc {
  width: 50%;
  text-align: center;
  font-size: 1.8rem;
}

.location {
  height: 70%;
  width: 40%;
  font-size: 1.4rem;
  border-radius: 20px;
  border: 3px solid black;
  box-shadow: 5px 5px 0px black;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.location iframe {
  width: 100%;
}

.faq {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.faq a {
  color: inherit;
  text-decoration: underline;
  font-weight: 500;
}

.faq a:hover {
  color: grey;
}
